<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Smart Campus Portal</a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="complaints">
                <span class="bi bi-exclamation-circle-fill" aria-hidden="true"></span> Complaints
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="transport">
                <span class="bi bi-bus-front-fill" aria-hidden="true"></span> Transport Booking
            </NavLink>
        </div>
    </nav>
</div>