@page "/"

<PageTitle>Home</PageTitle>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center mt-5">
            <h1 class="display-4 fw-bold text-primary mb-3">
                Smart Campus Service Portal
            </h1>
            
            <p class="lead text-secondary mb-4">
                "One platform for students to manage campus life"
            </p>

            <hr class="my-4 shadow-sm" />

            <div class="row g-4 mt-2">
                <div class="col-md-4">
                    <div class="p-3 border rounded bg-light">
                        <i class="bi bi-bus-front h2 text-primary"></i>
                        <h5>Transport</h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-3 border rounded bg-light">
                        <i class="bi bi-book h2 text-primary"></i>
                        <h5>Library</h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-3 border rounded bg-light">
                        <i class="bi bi-megaphone h2 text-primary"></i>
                        <h5>Complaints</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>